---
title: Zoe Configuration - Account Owner Verification
description: Learn more about configuring the account owner verification.
published: true
date: 2024-05-11T20:08:38.386Z
tags: config, account, owner, verify, verification, account owner verification
editor: markdown
dateCreated: 2023-04-23T19:10:16.831Z
---

# Account Owner Verification
## Information
**Here you can enable/disable the forced account owner verification. If this is the case, every League of Legends account that is added needs to be verified by the owner first.**
> If this option is disabled (and the [register command for everyone enabled](/en/Zoe-Configuration/Usermanagment/Register)), anyone [can register accounts](/en/commands/player/register/) that do not belong to them. If you want to prevent this, it is recommended that you enable the verification or ensure that the [`/register`](/en/commands/player/register/) command is disabled for everyone.
>{.is-warning}

## Procedure
:one: Click on the corresponding setting in the configuration menu.
<img src="/config_users_menu_choices.png" width="40%" /> <br>
:two: The next thing you will see is the activation message with a description and buttons.
If you want to enable the option click on `Continue` or cancel the configuration process with `Cancel`. 
<img src="/config_users_2_ownerverify_activation.png" width="60%" /> <br>
:three: Now you got to decide if all players should stay the same or get deleted (because they were added without verification). Alternatively you can `Cancel` the configuration process. 
<img src="/config_users_2_ownerverify_activation_2.png" width="60%" /> 

>The verification process works as shown in this article: [Registration with Verification](/en/Guides/RegisterWithVerification)
> {.is-info}