---
title: Zoe Configuration - Account Owner Verification
description: Learn more about configuring the account owner verification.
published: true
date: 2023-08-18T08:35:16.189Z
tags: config, account, owner, verify, verification, account owner verification
editor: markdown
dateCreated: 2023-04-23T19:10:16.831Z
---

# Account Owner Verification

>Here you can enable/disable the forced account owner verification. If this is the case, every League of Legends account that is added needs to be verified by the owner first.
>{.is-info}

>If this option is disabled (and the [register command for everyone enabled](https://wiki.zoe-discord-bot.ch/en/Zoe-Configuration/Usermanagment/Register), anyone [can register accounts](/en/commands/important/register/) that do not belong to them. If you want to prevent this, it is recommended that you enable the verification or ensure that the [`/register` command](/en/commands/important/register/)  is disabled for everyone.
>{.is-warning}

> Click on the corresponding setting :two:in the configuration menu.
<img src="/config_users_menu_choices.png" width="40%" /> <br>
>The next thing you will see is the activation message with a description and buttons.
> If you want to enable the option click on `Continue` or cancel the configuration process with `Cancel`. 
<img src="/config_users_2_ownerverify_activation.png" width="60%" /> <br>
Now you got to decide if all players should stay the same or get deleted (because they were added without verification). Alternatively you can `Cancel` the configuration process. 
<img src="/config_users_2_ownerverify_activation_2.png" width="60%" /> 

>_The verification process works as follows:_
:one:Look for the summoner icon on the bottom of the embed.
<img src="/account_verification_1.png" width="70%" /> <br>
:two:Open and log in the League of Legends client and click on your profile/summoner icon to edit it.
<img src="/account_verification_1.5.png" width="20%" /> <br>
:three:Scroll down to the bottom and choose the embedded summer icon. Close out of the window to save your choice.
<img src="/account_verification_2.png" width="70%" /> 
After that you can press `Done` in the embed to continue. If the verification process is finished you can change your summoner icon back to normal.

