---
title: Zoe Configuration - Account Owner Verification
description: Learn more about configuring the account owner verification.
published: true
date: 2023-12-10T10:08:46.737Z
tags: config, account, owner, verify, verification, account owner verification
editor: markdown
dateCreated: 2023-04-23T19:10:16.831Z
---

# Account Owner Verification

>Here you can enable/disable the forced account owner verification. If this is the case, every League of Legends account that is added needs to be verified by the owner first.
>{.is-info}

>If this option is disabled (and the [register command for everyone enabled](https://wiki.zoe-discord-bot.ch/en/Zoe-Configuration/Usermanagment/Register)), anyone [can register accounts](/en/commands/important/register/) that do not belong to them. If you want to prevent this, it is recommended that you enable the verification or ensure that the [`/register` command](/en/commands/important/register/)  is disabled for everyone.
>{.is-warning}

> Click on the corresponding setting :two:in the configuration menu.
<img src="/config_users_menu_choices.png" width="40%" /> <br>
>The next thing you will see is the activation message with a description and buttons.
> If you want to enable the option click on `Continue` or cancel the configuration process with `Cancel`. 
<img src="/config_users_2_ownerverify_activation.png" width="60%" /> <br>
Now you got to decide if all players should stay the same or get deleted (because they were added without verification). Alternatively you can `Cancel` the configuration process. 
<img src="/config_users_2_ownerverify_activation_2.png" width="60%" /> 

>The verification process works as shown in this article: [Registration with Verification](/en/Guides/RegisterWithVerification)
> {.is-info}


